.modal{
    z-index: 9999;
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 500px;
    min-height: 430px;
    transform: translate(-50%, -50%);
    background: rgb(167, 167, 167);
    transform-style: preserve-3d;
    border-color: #000000; /* Цвет границы */
    border-style: solid; /* Стиль границы */
}



.closeModal{
    border-top: 1px solid #dbdbdb;
    justify-content: flex-end;
    cursor: pointer;
    background-color: rgb(167, 167, 167);
    width: 95px;
    height: 35px;
    font-size: 16px;
    position: absolute;
    top: 90%;
    left: 78%;
}

